body {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: #E50914;
    --background-color: rgba(229, 9, 20, 0.3);
    --background-gray: rgb(29, 29, 29);
    --background-white: rgba(255, 255, 255, 0.3);
    --primari-font: "Lato", serif;
}

/* ........................COVER.................. */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

.invitation-cover {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    overflow-y: hidden;
}

.cover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    padding: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
    line-height: 0.8;
    color: white;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.invitation-content {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.nikahfix_logo {
    width: 210px;
    padding: 20px 0; 
}

.user_face {
    width: 90px;
}

.guest {
    font-size: 1.3em;
    margin-top: 10px;
}


#openButton {
    margin-top: 5px;
    padding: 10px 15px;
    font-size: 13px;
    color: gray;
    background-color: transparent;
    border: solid 1px gray;
    cursor: pointer;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

#openButton:hover {
    background-color: var(--background-gray);
    color: var(--primary-color);
}

/* NAVIGASI */
nav {
    position: fixed;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background-black);
    z-index: 999;
    border-radius: 50px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 8px 0;
    display: flex;
    gap: 10px; /* Jarak antar ikon */
    justify-content: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 15px; /* Ukuran ikon */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f2f2f2; /* Warna teks saat hover */
}


/* ................................SECTION........................ */
.section {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* .......SECTION 1........... */

#section1 {
    position: relative;
    background-image: url('section1.jpg'); /* Desktop background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

#section1 h1 {
    font-size: 2.4em;
    color: white;
    padding: 0 20px;
    margin: 0;
}

.section1-nikahfix {
    position: absolute;
    width: 110px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.section1-first {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    margin: 0;
    color: white;
}

.coming-soon {
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.section1-second {
    display: flex;
    gap: 4px;
    color: white;
    padding: 0 20px;
    margin: 0;
}

.tag {
    font-size: 14px;
    background-color: gray;
    padding: 6px;
    border-radius: 30px;
}

/* ..........SECTION 2......... */
#section2 {
    background-color: black; /* Change background color if needed */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    flex-direction: column;
    padding: 20px;
    color:white;
    position: relative; /* Add relative positioning to section */
    overflow: hidden;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    height: auto;
}

.content2-section2 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.netflix-logo {
    width: 11px;
    height: 24px;
}

.section2-couple {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.content3-section2 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin: 0;
}

.video-quality {
    width: 22px;
}

.match {
    color: green;
}

.su {
    background-color: gray;
    padding: 1px 3px;
    border-radius: 3px;
}

.pengantar {
    font-size: 12px;
    text-align: justify;
}

.terjemah {
    color: gray;
    font-size: 12px;
    text-align: justify;
}

/* VIDEO */
.video-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .video-controls {
    margin-top: 10px;
    text-align: center;
  }
  
  #videoButton {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 10px 10px;
    font-size: 10px;
    background-color: var(--background-gray);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #videoButton:hover {
    background-color: var(--background-gray);
    color: var(--primary-color);
  }

/* countdown */
#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    background-color: var(--primary-color);
    border-radius: 10px;
    gap: 8px;
    margin: 5px 0;
}

.unit {
    display: flex;
    text-align: center;
    margin: 0;
}

.unit span {
    padding: 1px;
}

.number {
    font-weight: bold;
    color: white; /* Number color */
}

.label {
    color: white; /* Label color */
}

/*.............. SECTION 3.............. */
#section3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: black;
    padding: 20px;
    height: auto;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

#section3 h1 {
    color: white;
    font-size: 24px;
}

.foto-catin {
    width: 100%;
    height: auto;
}

.foto-catin1 {
    width: 100%;
    height: auto;
}

.section3-text {
    color: gray;
    font-size: 14px;
    text-align: justify;
}

.couple-name-2 {
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 20px;
    color: white;
    align-self: flex-start;
}


/* .............section 4 profile........... */
#section4 {
    padding: 20px;
    background-color:black;
    color: white;
    text-align: left;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

#section4 h1 {
    font-size: 24px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile img {
    width: 100%; /* Adjust image width as needed */
    height: auto; /* Adjust image height as needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    object-fit: cover;
    border-radius: 10px;
}

.profile-info {
    text-align: left;
    padding: 10px;
}

.profile-info h3 {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.profile-info p {
    font-size: 12px;
}

/* .............SECTION 5 WEDDING DETAIL............. */
#section5 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    background-color: black;
    color:white;
    position: relative;
    overflow-y: hidden;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.wedding-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.event {
    display: flex;
    align-items: f;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    min-width: 300px;
    margin: 10px 0; 
}

.event-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.event-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.event-type {
    align-self: flex-start;
    background-color: var(--primary-color);
    padding: 5px 10px;
    margin: 0;
    border-radius: 20px;
    font-size: 14px;
}

.event-time {
    font-size: 15px;
    margin: 0;
}

.event-3 {
    display: flex;
    gap: 6px;
}

.event-3 p {
    background: gray;
    padding: 5px;
    margin: 0;
    border-radius: 20px;
    font-size: 14px;
} 

.event h3 {
    margin-bottom: 10px;
    font-size: 2em;
    text-decoration: underline;
}

.location-button {
    color: var(--primary-color);
    text-decoration: none;
}

.location-button:hover {
    background-color: var(--background-gray);
    border-radius: 10px;
    padding: 6px;
}


/* .........LOVE STORY SECTION ...........*/

#love-story-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: var(--primari-font);
}

.episode-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.episode {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.episode-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.episode-content p {
    margin: 0;
}

.love-story {
    color: gray;
}

.love-story1 {
    color: gray;
    text-align: left;
    font-size: 13px;
}
/* .........SECTION 6 GALLERY............ */

#section6 {
    text-align: left;
    padding: 20px;
    background-color: black;
    color: white;
}

#section6 h2 {
    font-family: var(--primari-font);
}

/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.gallery img:nth-child(3),
.gallery img:nth-child(4) {
    grid-column: span 2;
}



/* .............SECTION 7 MESSAGE........ */

/* General section styling */
#section7 {
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
    margin: 0;
}

#section7 h2 {
    color: white;
    font-family: var(--primari-font);
}


/* Form styling */
#messageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

}

#messageForm input,
#messageForm textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: var(--background-gray);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#messageForm button {
    font-family: var(--primari-font);
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    background-color:var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 350px;
}

#messageForm button:hover {
    background-color: var(--background-gray);
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Message list styling */
#messageList {
    margin-top: 20px;
    max-height: 400px; /* Atur tinggi maksimal, misalnya 200px */
    overflow-y: auto; /* Tambahkan scroll vertikal */
    max-width: 350px;
    margin: 20px auto;
}

.message {
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--background-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    font-family: var(--primari-font);
}

.message .message-content {
    font-size: 12px;
    line-height: 1.5;
}

.message .message-author {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
}

.message .message-body {
    margin-top: 10px;
}


/* CSS untuk mengganti font placeholder */
#formGuestName::placeholder,
#guestMessage::placeholder {
    font-family: var(--primari-font);
    font-weight: 400;
    font-style: normal;
    font-size: 12px; /* Ganti dengan ukuran font yang diinginkan */
    color: #b8b8b8; /* Ganti dengan warna yang diinginkan */
}
/* CSS untuk mengganti font input */
#formGuestName,
#guestMessage {
    font-family: var(--primari-font);
    font-weight: 400;
    font-style: normal;
    font-size: 12px; /* Ganti dengan ukuran font yang diinginkan */
    color: #333; /* Ganti dengan warna yang diinginkan */
}


/* ...........SECTION 8............. */
#section8 {
    background-color: black;
    text-align: left;
    color: white; /* Text color */
    height: auto; /* Set height to 100% of viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 50px;
    padding: 20px;
    overflow-y: hidden;
}

.bank-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.gift-details {
    font-family: var(--primari-font);
    font-weight: 400;
    font-style: normal;
    max-width: 400px;
    margin: 0 auto;
}

.gift-details p {
    margin: 10px 0;
    font-family: var(--primari-font);
}

.bank-item {
    display: flex;
    align-items: center;
    background-color: var(--background-gray);
    border-radius: 20px;
    padding: 10px;
    gap: 15px;
    font-family: var(--primari-font);
    color: gray;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.bank-logo1 {
    width: 100px;
    height: auto;
}

.bank-logo2 {
    width: 60px;
    height: auto;
}

button {
    padding: 4px 14px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--background-gray);
    color: var(--primary-color);
}

/* THANK-YOU SECTION */
.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    margin: 0;
    padding: 50px 20px;
    line-height: 1;
}

.nikahfix-thanks {
    width: 120px;
    margin-bottom: 20px;
}

.thank-you h2 {
    font-family: var(--primari-font);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: white;
}

.thank-you p {
    font-family: var(--primari-font);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: gray;
}

/* Footer */
footer {
    background-color: var(--background-gray);
    padding-bottom: 50px;
    padding-top: 15px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
  
.logo img {
    height: 30px;
}
  
.social-media-ncp {
    display: flex;
}
  
.social-icon {
    color: var(--primary-color); /* Warna ikon */
    font-size: 20px; /* Ukuran ikon */
    margin-left: 15px; /* Jarak antar ikon */
    text-decoration: none; /* Menghilangkan garis bawah */
}

/* ...............  ANIMATION............... */
.fade-in {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.fade-slide {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.fade-slide.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Slide Down */
.slide-down {
    opacity: 0;
    transform: translateY(-30px); /* Mulai dari atas */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-down.visible {
    opacity: 1;
    transform: translateY(0); /* Kembali ke posisi awal */
}

/* Slide Up */
.slide-up {
    opacity: 0;
    transform: translateY(30px); /* Mulai dari bawah */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0); /* Kembali ke posisi awal */
}

/* Pop Up */
.pop-up {
    opacity: 0;
    transform: scale(0.8); /* Mulai lebih kecil */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.pop-up.visible {
    opacity: 1;
    transform: scale(1); /* Kembali ke ukuran normal */
}

/* Slide Left */
.slide-left {
    opacity: 0;
    transform: translateX(-30px); /* Mulai dari kiri */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-left.visible {
    opacity: 1;
    transform: translateX(0); /* Kembali ke posisi awal */
}

/* Slide Right */
.slide-right {
    opacity: 0;
    transform: translateX(30px); /* Mulai dari kanan */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-right.visible {
    opacity: 1;
    transform: translateX(0); /* Kembali ke posisi awal */
}


/* .....................AUDIO CONTROL.................... */
.audio-controls {
    position: fixed;
    bottom: 120px;
    right: 6px;
    z-index: 999; /* Ensure it's above other content */
    text-align: center;
    display: none; /* Initially hide the button */
}

.play-btn {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* SEPERATOR  */

.separator {
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.separator::before, 
.separator::after {
    content: '';
    height: 1px; /* Membuat garis horizontal */
    flex-grow: 1;
    width: 100px;
    background-color: black;
}

/* ..............Style for the modal............. */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* ......................MEDIA QUERY..................... */
@media (max-width: 600px) {
    /* ...........COVER.................*/
    .invitation-cover {
        overflow-y: hidden;
    }


    /* SECTION1 */
    #section1 {
        background-image: url('section1.jpg');
        background-size: cover;
        background-position: center;
        align-items: flex-start;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .thank-you {
        padding: 10px 20px;
        line-height: 1;
    }

    /* SECTION 9 */
    #section9 {
        background-image: url('background.jpeg');
    }
}
